:root {
    --white: #fff;
    --light: #eee;
    --dark: #111;
    --black: #000;
}

body {
    height: 100vh;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 550px;
    height: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    color: var(--light);
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}

main {
    width: 550px;
    height: 650px;
    min-height: 650px;
    background-color: var(--light);
    border: 1px solid var(--black);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.top button {
    width: 100px;
    height: 35px;
    background-color: var(--light);
    color: var(--black);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid var(--black);
    box-sizing: border-box;
}

.top button:active {
    background-color: var(--dark);
    color: var(--light);
}

.screen {
    width: 500px;
    height: 500px;
    background-color: var(--black);
    border: 1px solid var(--black);
    box-sizing: border-box;
    display: grid;
}

.bottom {
    width: 500px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}

.bottom button {
    width: 100px;
    height: 35px;
    background-color: var(--light);
    color: var(--black);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid var(--black);
    box-sizing: border-box;
}

.bottom button:active {
    background-color: var(--dark);
    color: var(--light);
}

footer {
    width: 550px;
    height: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#author {
    color: var(--light);
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}