body {
    height: 100vh;
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 550px;
    height: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 550px;
    height: 650px;
    min-height: 650px;
    background-color: #eee;
    border: 1px solid #000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top {
    width: 500px;
    height: 50px;
    background-color: #bbb;
    border: 1px solid #000;
    border-bottom: none;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    margin-top: 35px;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    user-select: none;
}

.screen {
    width: 500px;
    height: 500px;
    background-color: #000;
    border: 1px solid #000;
    box-sizing: border-box;
    display: grid;
}

.bottom {
    width: 500px;
    height: 50px;
    background-color: #bbb;
    border: 1px solid #000;
    border-top: none;
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bottom button {
    width: 100px;
    height: 35px;
    background-color: #eee;
    color: #000;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #000;
    box-sizing: border-box;
}

.bottom button:active {
    background-color: #888;
}

footer {
    width: 550px;
    height: 50px;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}